nav.bar.bar-tab
  a.tab-item.active(href="#")
    span.icon.icon-home
    span.tab-label 首页
  a.tab-item(href="#")
    span.icon.icon-friends
    span.tab-label 俱乐部
  a.tab-item(href="#")
    span.icon.icon-star
    span.tab-label 报名
  a.tab-item(href="#")
    span.icon.icon-me
    span.tab-label 我的