script(src="//g.alicdn.com/sj/lib/zepto/zepto.min.js", charset="utf-8")
script(src="//g.alicdn.com/msui/sm/0.5.7/js/sm.min.js", charset="utf-8")
script(src="//g.alicdn.com/msui/sm/0.5.7/js/sm-extend.min.js", charset="utf-8")
script(src="//res.wx.qq.com/open/js/jweixin-1.0.0.js", charset="utf-8")
script(src="/build/admin.min.js", charset="utf-8")