extends ./body

block content
  .content
    .user-profile
      .user-img
        img(src="http://tp3.sinaimg.cn/2784220302/180/5648799551/1")
      .user-info
        span.user-name __Johning
        span.user-male 
          i.icon.icon-male
      .user-feel
        p Nothing can be recived by insiting on it ! 
      .user-labels
        .item-list
          span.item-li [同济]
          span.item-li [跑步]
          span.item-li [IT]
    .list-block
      ul
        li.item-content.item-link
          .item-media
            i.icon.icon-run
          .item-inner
            .item-title 我的活动
        li.item-content.item-link
          .item-media
            i.icon.icon-friends
          .item-inner
            .item-title 我的社团
        li.item-content.item-link
          .item-media
            i.icon.icon-star
          .item-inner
            .item-title 我的关注
        li.item-content.item-link
          .item-media
            i.icon.icon-message
          .item-inner
            .item-title 我的消息
    .list-block
      ul
        li.item-content.item-link
          .item-media
            i.icon.icon-me
          .item-inner
            .item-title 我的账号
        li.item-content.item-link
          .item-media
            i.icon.icon-settings
          .item-inner
            .item-title 我的设置


    