extends ./body

block content
  .content-block
    .inner.userinfo
      .user_big_avatar
        img.user_avatar(src='https://avatars.githubusercontent.com/u/4285361?v=3&s=120', title='hjntongji')
      a.dark hjntongji
      .user_profile
        ul.unstyled
          span.big 15
          |  积分
          li
            i.fa.fa-lg.fa-fw.fa-github
            a.dark(href='https://github.com/hjntongji', target='_blank') @hjntongji
      p.col_fade 注册时间 8 个月前