nav.bar.bar-tab
  a.tab-item.external(href="/index")
    span.icon.icon-home
    span.tab-label 首页
  a.tab-item.active.external(href="/mass")
    span.icon.icon-friends
    span.tab-label 社团
  a.tab-item.external(href="/participate")
    span.icon.icon-star
    span.tab-label 报名
  a.tab-item.external(href="/self")
    span.icon.icon-me
    span.tab-label 我的