extends ../layout

mixin header
  header.bar.bar-nav
    a.button.button-link.button-nav.pull-left.back(href="/index")
      span.icon.icon-left
      | 返回 
    h1.title
      span 活动详情 
      span | 
      span(style="font-size: 0.7rem; color: #0894ec;") 微信号:最盟 

block body
  #activity.page
    //- +header
    .content
      .swiper-container(data-space-between="10", data-loop="true")
        .swiper-wrapper
          .swiper-slide
            img(src="/build/img/88a22e339f03e420a0fea0f743e83283.jpg!660x360")
          .swiper-slide
            img(src="/build/img/4c99b9c33da8670286fa3124812c0617.jpg!660x360")
        .swiper-pagination
      .race-summary
        .race-name 柏林马拉松
        .race-rating
          span.score.text-primary 评分: 4.5
          span.race--indicators
        .race-desc.text-gray.text-sm
          | WMM世界六大马拉松赛事之一，被称为地球上最快的赛道，过去8个男子世界纪录都是在柏林创造的。比赛路线可以让你来一次20世界历史回顾之旅。你会跑过雄伟壮丽的历史建筑，前东柏林严肃整齐的大厦，以及西柏林现代、高科技、充满商业色彩的楼宇。
        .race-stats
          span.race-stats-item
            span.text-primary 16
            span.text-gray 人参加过
          span.race-stats-item
            span.text-primary 64
            span.text-gray 人预计参加
          span.race-stats-item
            span.text-primary 75
            span.text-gray 人关注
        .race-actions.clear
          a.btn.btn-primary(href='#', onclick="") 参加过
          a.btn.btn-success(href='#', onclick="") 预计参加
        .race-attr
          span.text-gray 比赛地点：
          |       德国 柏林
        .race-attr
          span.text-gray 比赛日期：
          |       2016年09月25日
        .race-attr
          span.text-gray 报名日期：
          |       2015.10.19 - 2016.06.01
        .race-attr
          span.text-gray 比赛组别：
          |       全程马拉松
      .race-groups
        .block
          .block-header 赛事介绍
          .block-body
            .race-groups-container
              .race-group-wrapper
                .race-group-name 全程马拉松
                ul.race-group-item-list
                  li.race-group-item
                    span.text-gray 报名时间：
                    |                   2015.10.19 - 2016.06.01
                  li.race-group-item
                    span.text-gray 起跑时间：
                    |                   2016-09-25 08:45
                  li.race-group-item
                    span.text-gray 报名费用：
                    |                   98 € /人
                  li.race-group-item
                    span.text-gray 关门时限：
                    |     6小时15分
                  li.race-group-item
                    span.text-gray 人数限额：
                    |                   40000
            .text-center
              a.btn.btn-default.more(href='#') 查看更多
    .bar-bottom.col-2
      .follow-container.js-follow-container
        a.btn.btn-flat.follow(href='#', data-method='post', data-remote='true', rel='nofollow')
          span.state-unfollow
            .icon
              i.fa.fa-eye
            .txt
              span 关注
        a.btn.btn-flat.btn-primary.reg.other(href='#') 一键报名

