extends ./body

block content
  .row.no-gutter
    img.main-img(src="/build/img/index.jpeg")
  .buttons-tab
    a.tab-link.button.active(href="#tab1")
      span.iconfont.icon-run
      |  参赛
    a.tab-link.button(href="#tab2") 
      span.iconfont.icon-zhiyuanzhe
      |  志愿者
  .tabs
    #tab1.tab.active
      - var activities = [0,1,0,0,1,1,0,1,1,1];
      .zuimeng.list-block.media-list
        ul
          each activity in activities
            a.none-color(href="/activity/detail")
              li.item-content
                .item-media
                  img(src="/build/img/minzhu.jpeg" style="width:4.2rem; height: 3rem")
                .item-inner
                  .item-title 东方明珠元旦登高
                  .item-subtitle 
                    span.icon.icon-friends
                    span 同济拉风  
                    span.icon.icon-star
                    span 7 
                  .item-subtitle.last
                    span.icon.icon-clock 
                    span 2016/01/01 
                    span 上海
                .item-left
                  .item-button
                    if activity === 1 
                      p.price ￥60 起
                    else
                      p.price 免费
                    p.star
                      span.icon.icon-star
                      span  关注 
                    p.order
                      span.icon.icon-cart 
                      span  报名
    #tab2.tab
      - var activities = [0,1,0,0,1,1,0,1,1,1];
      .zuimeng.list-block.media-list
        ul
          each activity in activities
            a.none-color(href="/activity/detail")
              li.item-content
                .item-media
                  img(src="/build/img/minzhu.jpeg" style="width:4.2rem; height: 3rem")
                .item-inner
                  .item-title 东方明珠元旦登高
                  .item-subtitle 
                    span.icon.icon-friends
                    span 同济拉风  
                    span.icon.icon-star
                    span 7 
                  .item-subtitle.last
                    span.icon.icon-clock 
                    span 2016/01/01 
                    span 上海
                .item-left
                  .item-button
                    p.price 志愿者
                    p.star
                      span.icon.icon-star
                      span  关注 
                    p.order
                      span.icon.icon-cart 
                      span  报名