extends ./body

block content
  form.content-block(method="post", action="query")
    .list-block
      ul
        li
          .item-content
            .item-media
              i.icon.icon-form-name
            .item-inner
              .item-title.label 姓名
              .item-input
                input(type="text" name="name" placeholder="Your name")
    .row
      .col-100
        button.button.button-big.button-fill.button-success(type="submit", style="width: 100%") 查询交大uRun参赛号码