extends ../layout

block content
  .content-block
    h2.error #{tip}
    h2
      a.button.button-link.button-nav.pull-left.back(href="/run/query", style="border: none")
        span.icon.icon-left
        span 返回
