extends ../layout

block content
  .row.no-gutter
    img.main-img(src="build/index.jpg")
  - var description = '上海高校运动联盟，以跑步为核心的跨校运动交流、分享平台，跑步信息发布、报名、志愿者招募，合作体育品牌和主办方的各种福利，结识上海十几所高校的跑者和NTCgirls，与全校已注册师生和校友一起互动、PK你的跑马成绩。最盟，不只运动，遇见感动！';
  - var activities = [1,1,1,1,1,1];
  each activity in activities
    .card
      .card-header 
        span 最盟
        button.button.button-link.button-nav.pull-right(style="border: none; margin-right: -0.5rem") 加入
          span.icon.icon-right
      .card-content
        .list-block.media-list
          ul
            li.item-content
              .item-media(style="padding-top:0;")
                img(src="build/zuimeng.jpeg" width="50")
              .item-inner(style="margin-left: 0.35rem;padding-top: 0;")
                .item-subtitle.item-description #{description}