.content-block.text-custom
  p
    span(style="font-weight: bold; color: #333") 装备领取：
    span 10K组（校内、外）及双人组参赛选手
  p 
    span(style="font-weight: bold; color: #333") 领取时间：
    span 12月12日上午8:00–12:00，凭有效证件
  p 
    span(style="font-weight: bold; color: #333") 领取地点：
    span 交大凯旋门（东川路600号）北100米，电院大草坪东侧(请注意领取指示标识，咨询现场志愿者）
  p(style="font-weight: bold; color: red") 双人组13:30发枪起跑，10K组14:15发枪起跑, 请于起跑前15分钟至起点处检录！