@base-color: #0894ec;
@grey: #5f646e;
@light-grey: #7d7d7d;
@black: #3d4145;
@white: #fff;
@bgColor: #F9F9F9;
@successColor: #5cb85c;
// @defaultColor: #ff6920;
@defaultColor: #0894ec;

.bar-tab .tab-item .icon{
    font-weight: bold;
}

.content {
    margin-bottom: 2.5rem;
}

#self .list-block {
    font-size: .7rem;
}
.user-profile {
    height: 3rem;
    margin-bottom: 3.5rem;
    background: @base-color;
    width: 100%;
    text-align: center;
}
.user-img {
    display: inline-block;
    margin-top: 1rem;
    img {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }
}
.user-info {
    font-size: .6rem;
    line-height: .6rem;
    .user-name {
        font-size: .6rem;
        line-height: .6rem;
        font-weight: bold;
        color: @black;
    }
}
.user-feel {
    margin-top: 0.6rem;
    padding-left: 0.5rem; 
    p {
        padding: 0;
        margin: 0;
        font-size: .6rem;
        color: @grey;
        text-align: left;
    }
}
.user-labels {
    margin-top: -2.5rem;
    text-align: right;
    .item-list {
        margin-right: .5rem;
    }
    .item-li {
        margin-left: .3rem;
        font-size: .6rem;
        color: @base-color;
    }
}

.none-footer-toolbar.content {
    margin-bottom: 0;
}

.main-img {
    width: 100%;
    margin-bottom: -7px;
}
.swiper-container {
    .swiper-slide img {
        width: 100%;
    }
    padding-bottom: 0;
    height: 10rem;
}
.race-summary{
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0.4rem;
    background-color: @white;
    padding: 0.6rem 0.5rem;
    .race-name {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .race-rating {
        word-wrap: break-word;
        word-break: break-all;
        margin-top: 0.45rem;
        .score {
            margin-right: 0.8rem;
        }
    }
    .race-desc {
        line-height: 0.8rem;
        font-size: 0.6rem;
        margin-top: 0.6rem;
        text-align: justify;
    }
    .race-stats {
        margin-top: 0.45rem;
    }
    .race-stats-item {
        margin-right: 0.5rem;
    }
    .race-actions {
        margin-top: 0.8rem;
        text-align: center;
        .btn:first-child {
            margin-right: 8.33%;
        }
        .btn {
            width: 45.83%;
            margin-bottom: 0.8rem;
            float: left;
        }
    }
    .race-attr {
        font-size: .7rem;
        line-height: .7rem;
        margin-bottom: .4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.race-groups {
    padding-top: 0.8rem;
    background-color: @white;
}
.race-groups-container {
    margin-bottom: .65rem;
}
.race-group-name {
    font-weight: bold;
    font-size: .7rem;
    line-height: 1rem;
    color: @black;
}
.race-group-item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: @black;
}
.race-group-item {
    list-style: none;
    font-size: .7rem;
    line-height: 1rem;
}

.block {
    background-color: @white;
    padding: 0 .5rem;
    .block-header {
        font-size: .8rem;
        padding-top: .2rem;
        padding-bottom: .55rem;
        border-bottom: solid 1px @bgColor;
    }
    .block-body {
        padding: .8rem 0;
        .more {
            width: 7rem;
        }
    }
}

.btn {
    display: inline-block;
    font-size: 0.7rem;
    color: @white;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    height: 1.8rem;
    line-height: 1.8rem;
    -webkit-appearance: none;
}
.btn-primary, .btn-default{
    background-color: @defaultColor;
    border-color: @defaultColor;
    color: @white;
}
.btn-default{
    background-color: @white;
    border-color: @defaultColor;
    color: @defaultColor;
}
.btn-success {
    background-color: @successColor;
    border-color: @successColor;
    color: @white;
}
.bar-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: @white;
    box-shadow: 0 -1px 5px @light-grey;
}
.bar-bottom.col-2 .follow {
    width: 25%;
}
.bar-bottom .reg {
    width: 37.5%;
    border-right: solid 1px @light-grey;
}
.bar-bottom.col-2 .other {
    width: 75%;
}
.bar-bottom .follow {
    color: @black;
    border-top: solid 1px @light-grey;
    border-right: solid 1px @light-grey;
    padding-top: 0;
    width: 25%;
}
.bar-bottom .btn {
    float: left;
    padding: 0.6rem;
    height: 2.4rem;
    line-height: 1.2rem;
}
.bar-bottom .follow .txt {
    font-size: 0.6rem !important;
    line-height: 1;
}
.btn-flat {
    border-radius: 0px !important;
}

.clear:before, .clear:after {
    display: table;
    content: " ";
}
.clear:after {
    clear: both;
}
.text-primary {
    color: @base-color;
}
.text-gray {
    color: @light-grey;
}
.text-center {
    text-align: center;
}
a.none-color {
  color: @black;
}

.text-custom p {
    color: #0894ec;
    font-weight: bold;
}
.zuimeng.list-block {
    margin: 0 0.3rem 0.3rem 0.3rem;
    ul {
        background: inherit;
        li {
            background: @white;
            height: 4rem;
            border-radius: 0.3rem;
            margin-bottom: 0.2rem;
        }
    }
    ul:after {
        height: 0;
    }
    .item-media img {
        border-radius: .2rem;
    }
    .item-content {
        padding-left: .4rem;
    }
    .item-inner {
        margin-left: .4rem;
    }
    .item-inner:after {
        height: 0;
    }
    .item-title{
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    .item-subtitle{
        font-size: 0.6rem;
        line-height: 0.9rem;
        height: 0.9rem;
        color: @light-grey;
    }
    .item-subtitle.last {
        color: @grey;
        margin-top: 0.4rem;
    }
    .item-left {
        width: 4rem;
        white-space: nowrap;
        background-color: @bgColor;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        padding-left: .4rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        position: relative;
        border-radius: 0 0.3rem 0.3rem 0;
        p {
            padding: 0;
            margin: 0;
            font-size: 0.6rem;
            display: block;
            color: @grey;
            margin-top: 0.2rem;
        }
        .price {
            color: @base-color;
            font-size: 0.7rem;
            margin-top: 0.5rem;
        }
    }
}
